body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.aprovado {
  color: green;
  font-weight: bold;
}

.reprovado {
  color: red;
  font-weight: bold;
}
